<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Id Department</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h3> Id department </h3>
            <p th:text="${department.id}"></p>
            <h3>Name Department</h3>
            <p th:text="${department.name}"></p>
            <h3>Description</h3>
            <p th:text="${department.description}"></p>
             <h3>Location</h3>
             <p th:text="${department.description}"></p>
        </div>
    </body>
</html>
