<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>Project Form</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
           <div class="col-md-3">
           <hr>
           <h3>Department Update Form</h3>
           <form th:action="@{/department/update/{id}(id=${id})}" th:object="${department}" method="POST">
        <div class="form-group">
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      <hr>
      <a th:href="@{/department}">Back To Home</a>
    </div>
  </div>
</div>
    </body>
</html>
